/* common shared style */
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

.p-button {
    border-radius: 5px;
    background: #FD6E0A;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}

.c-button {
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    width: 150px;
    background-color: #FFF8F3;
    border: solid 1px #FD6E0A;
    margin-left: 30px;
    border-radius: 5px;
}

.main {
    max-width: 1140px;
    margin: 130px auto;
}


.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

/* Nav Related Styles............ */
nav {
    display: flex;

    /* for navigation allignment */
    justify-content: space-between;

    /* to take Heading and page name in a line*/
    align-items: center;
    padding: 0px 150px;
}

nav>ul {
    display: flex;

    /* To take page name and button in a line */
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.nav-heading {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* Header Related Styles ............ */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: center left;


}

.banner {
    padding: 0px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: ;

}

.image {
    max-width: 584px;
    max-height: 676px;
}

.b-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.b-heading {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* About Section */
.about-items {
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}

.item-des {
    font-size: 20px;
    font-weight: 700;
}

/* what I do section */
.skills {
    margin: 100px 0px;
}

.section-des {
    padding: 0px 150px;
}

.skill-items {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 40px;
    padding: 0px;
    gap: 25px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-des {
    color: #757575;
}

/* Resume Section  */
.resume-cont {
    display: flex;
    gap: 24px;
    margin: 0px 42px;
}

.colmn-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.exp-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;

}

.sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;

}

.exp-des {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Footer section */
.footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    margin-top: 113px;
    padding: 120px 140px 120px 150px;
}

.footer-col {
    width: 50%;
}

.text {
    width: 461px;
    height: 180px;
}

.form input,
textarea {
    display: block;
    margin-bottom: 24px;
}

.ph {
    width: 461px;
    height: 64px;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 30px;
    border: 0px;
}

.text {
    color: #757575;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-left: 30px;
    padding-top: 18px;
    border: 0px;
    border-radius: 5px;
}

.fsection-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.sec-des {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.social-links > img {
    margin-right: 24px;
    padding-top: 30px;
}